{% extends 'base.html' %}
{% comment %} TODO: Form after click on add flight from flights_Manager to add a new flight for this airline {% endcomment %}
{% load crispy_forms_tags %}

    {% block content %}
    <section class="py-5">
        <div class="d-flex justify-content-center">
            <div class="col-lg-6 mb-5">
                <div class="card h-100 shadow border-0 " style='width: 55%;'>
                    <div class="card-header fs-5 text-white bg-dark mb-0">
                         Add Flight
                    </div>
                    <div class="card-body p-4 py-0 px-0">
                        <form method="post">
                            {%csrf_token%}
                            {%for inp in form %}
                            <div class="card-header">
                                <p class="mb-2">{{inp|as_crispy_field}}</p>
                            </div>
                            {%endfor%}
                            
                            <div class="card-header py-3 px-4">
                                <div class="mb-4 px-2 ">
                                    <button type="submit" class="btn btn-dark px-4" style="float:right;"> Submit </button>
                                </div>
                                {% comment %} <div class="mb-0">
                                    <p class="text-muted small px-4"> Already have an account ?
                                    <a href="{%url 'login'%}" class="btn-blue ">login</a></p>
                                </div> {% endcomment %}
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    {% endblock content %}
