{% extends 'base.html' %}
{% comment %} TODO: where u can control add or delete  airlins{% endcomment %}
{% load crispy_forms_tags %}

    {% block content %}
    <section class=" py-5">
        <div class="d-flex justify-content-center">
            <div class="col-lg-6 mb-5">
                <div class="card h-100 shadow border-1 ">
                    <div class="card-header fs-4 text-white bg-dark mb-1">
                        Search
                    </div> 
                    <div class="card-body p-3 fs-5">
                        <form  class='form' method="POST">
                            {% csrf_token %}
                            <div class='row'>
                                {% for field in form %}
                                    <div class='col-md-4 mb-2'>
                                      <span class="w-25">{{field|as_crispy_field}}</span>
                                    </div>
                                {% endfor %}
                            </div>
                            
                            <button type="submit" class="btn btn-dark p-2 fs-4" style="float:right;"> FILTER </button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-lg-8 mb-0">
                <div class="card h-100 shadow border-2 mb-0">
                    <div class="card-header fs-3 text-white bg-dark mb-0 text-center">   
                        <span>Airlines Manager</span> 
                        <button type="submit" class="btn btn-success p-1 px-2 fs-5" onclick="window.location='{%url 'airline_register'%}';" style="float:right;">
                             New Airline
                        </button>
                    </div>

                    {%if page_obj.paginator.count == 0 %}
                        <div class="card h-100 shadow border-0 p-3 fs-1 ">
                            <p class="me-5 mb-0 small text-center">There are no avalible flights</p>
                        </div>
                    {% else %}
                    <div class="text-black bg-secondary p-1 text-end small">
                        <p class="me-5 mb-0 small">Airline Found {{page_obj.paginator.count}}</p>  
                    </div>
                    <table class="table table-success table-striped mb-0 text-center table-hover">
                        <thead class="p-3 fs-5">
                          <tr>
                            <th scope="col"class="col-md-1"></th>
                            <th scope="col"class="col-md-3">name</th>
                            <th scope="col"class="col-md-3">country</th>
                            <th scope="col"class="col-md-3">flights Amount</th>
                            <th scope="col" class=""></th>
                            <th scope="col"class=""></th>
                            
                          </tr>
                        </thead>
                        <tbody>
                            {% for airline in page_obj.object_list %}
                            {# Each "contact" is a Contact model object. #}
                            
                            {% comment %} <div class="">
                                <div class=" bg-success bg-gradient  p-3 fs-6">{{flight}}</div>
                            </div> {% endcomment %}
                                <tr >
                                    <th scope="row"></th>
                                    <th >{{airline.name}}</th>
                                    <td>{{airline.country}} </td>
                                    <td>{{airline.flights.count}} </td>

                                    <td>  
                                    <button type="submit" onclick="window.location='{%url 'airline_update' airline.id%}';" class="btn btn-info px-3" style="float:right;">
                                    Update</button> 
                                    </td>
                                    <td>
                                        <form method="POST">
                                        {% csrf_token %}
                                        {% if airline.flights.all %}
                                        <button type="submit" name="delete" value={{airline.id}} class="btn btn-danger px-3 text-black-50 " style="float:right;" disabled>
                                            Delete</button> 
                                        {%else%}
                                            <button type="submit" name="delete" value={{airline.id}} class="btn btn-danger px-3 text-black " style="float:right;">
                                            Delete</button> 
                                        {% endif %}
                                        </form>
                                    </td>
                                   
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {%if page_obj.has_previous or page_obj.has_next%}
                    <div class="card-footer">
                        <nav aria-label="...">
                        <ul class="pagination text-center mb-0">
                                {% if page_obj.has_previous and page_obj.has_next %}
                                <li class="page-item col-md-1 mb-0 p-1">
                                    <a class="page-link" href="?page=1">&laquo; first</a>
                                </li>

                                <li class="page-item col-md-1 mb-0 p-1">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                                </li>

                                <span class="current col-md-8 mb-0 p-1">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                
                                <li class="page-item col-md-1 mb-0 p-1">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                                </li>

                                <li class="page-item col-md-1 mb-0 p-1">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                </li>

                                {% elif page_obj.has_previous %}
                                <li class="page-item col-md-1 mb-0 p-1 ">
                                    <a class="page-link" href="?page=1">&laquo; first</a>
                                </li>

                                <li class="page-item col-md-1 mb-0 p-1 ">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                                </li>
                                
                                <span class="current col-md-8 mb-0 p-1">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>

                                <li class="page-item disabled col-md-1 mb-0 p-1 ">
                                    <a class="page-link" >next</a>
                                </li>

                                <li class="page-item disabled col-md-1 mb-0 p-1">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                </li>
                                
                                {% elif page_obj.has_next %}
                                <li class="page-item disabled col-md-1 mb-0 p-1">
                                    <a class="page-link" href="?page=1">&laquo; first</a>
                                </li>
                                
                                <li class="page-item disabled col-md-1 mb-0 p-1">
                                    <a class="page-link">previous</a>
                                </li>

                                <span class="current col-md-8 p-1">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                
                                <li class="page-item col-md-1 mb-0 p-1">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                                </li>
                                
                                <li class="page-item col-md-1 mb-0 p-1">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                </li>
                                {% endif %}
                                
                        </ul>
                    </nav>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
       
    </section>
    
    {% endblock content %}

