{% extends 'base.html' %}


{%block content%}
<style>
    .bg-cyan{
        background-color: rgb(12, 192, 147,0.75);

    }

</style>
 <!-- Header-->
 <header class="bg-dark py-5" style="background-image: url('https://c.pxhere.com/images/3d/66/05199c2ab45f90b14e0258dc6d9c-1575625.jpg!d'); background-size: cover">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start ">
                    <h1 class="display-5 fw-bolder text-dark mb-2">We make travel accessible for everyone</h1>
                    <p class="lead fw-normal text-black-70 mb-4">We believe everyone should be free to experience the world. For us, there’s no greater freedom than choosing where you want to be and how you want to get there.</p>
                    <p class="lead fw-normal text-black-70 mb-4">That’s why we’re breaking down the barriers to low-cost travel, making the world open and accessible for all.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{%url 'search_flights' %}">Get Started</a>
                        {% if not user.is_authenticated %}
                        <a class="btn btn-secondary  btn-lg px-4" href="{%url 'register'%}">Sing-Up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://img.freepik.com/foto-gratis/familia-tiro-completo-aeropuerto_23-2149272150.jpg?w=2000" alt="..." /></div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">We are offering you <br>A better way to Travel.</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h5">Book Flights</h2>
                        <p class="mb-0">Search for your desired flights and book them with just a couple clicks.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h5">Airline integration</h2>
                        <p class="mb-0">Manage your flights with ease and get our huge customer base to look at your flights. </p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Technical Support</h2>
                        <p class="mb-0">We got a hard working Technical team who will answer your every need.</p>
                    </div>
                    {% comment %} <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Featured title</h2>
                        <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section-->
<div class="py-5 bg-cyan">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
                <div class="text-center">
                    <div class="fs-4 mb-4 fst-italic">“Do you really want to look back on your life and see how wonderful it could have been had you not been afraid to live it?”</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="rounded-circle me-3" src="https://kripalu.org/sites/default/files/styles/headshot_large/public/MyssC.jpg" style="max-width:60px;" alt="..." />
                        <div class="fw-bold">
                            Caroline Myss
                            <span class="fw-bold text-primary mx-1">/</span>
                            Teacher, Author
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog preview section-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Travel inspiration</h2>
                    <p class="lead fw-normal  mb-5">Our latest travel tips, expert hacks and industry insights to help make your journey one to remember</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" width="300" height="219px" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/26/b3/47/36/3fc388de-ea6e-448c.jpg?w=400&h=300&s=1" alt="https://dummyimage.com/600x350/6c757d/343a40" />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                        <a class="text-decoration-none link-dark stretched-link" href="https://www.tripadvisor.com/Articles-lUykacvYbwCY-Best_places_to_travel_november_usa.html"><h5 class="card-title mb-3">The 6 best places to travel in November 2022 in the US</h5></a>
                        <p class="card-text text-black-70 mb-0">From food festivals to a Thanksgiving you won’t soon forget</iframe></p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                {% comment %} <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." /> {% endcomment %}
                                <img  height=30px src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_lockup_horizontal_secondary_registered.svg" alt=""> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top"  width="300" height="219px" src="https://www.thetravelmagazine.net/wp-content/uploads/Stone-road-1-585x390.jpg" alt="https://dummyimage.com/600x350/6c757d/343a40" />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
                        <a class="text-decoration-none link-dark stretched-link" href="https://www.thetravelmagazine.net/stone-road-of-turkey/"><h5 class="card-title mb-3">Road trip over Tas Yolu – Stone Road in Erzincan, Turkey</h5></a>
                        <p class="card-text mb-0">Hairpin bends, sharp cliffs and mountain tunnels of the Stone Road await to test your driving spirit.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                <img width=150px height=30px src="https://www.thetravelmagazine.net/wp-content/uploads/TTM_logo_background_alt-300x100.png" alt=""> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" width="300" height="219px" src="https://lp-cms-production.imgix.net/2022-10/GettyImages-1287374343.jpg?auto=format&q=40&w=400&h=300&fit=crop" alt="https://dummyimage.com/600x350/6c757d/343a40" />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                        <a class="text-decoration-none link-dark stretched-link" href="https://www.lonelyplanet.com/articles/europes-best-budget-ski-resorts"><h5 class="card-title mb-3">8 of Europe's most affordable ski resorts for this winter </h5></a>
                        <p class="card-text mb-0">Europe's looming energy crisis this winter will affect your ski trip: stay in budget at these top European ski resorts.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex">
                                    <img height=30px  src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cb/Lonely_Planet.svg/2560px-Lonely_Planet.svg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        {% comment %} <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                <div class="mb-4 mb-xl-0">
                    <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                    <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                </div>
                <div class="ms-xl-4">
                    <div class="input-group mb-2">
                        <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                        <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                    </div>
                    <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                </div>
            </div>
        </aside> {% endcomment %}
    </div>
</section>
{%endblock content%}